# Folders #
/MeerKATall
/MeerKATall2
/Pics
/TrippleProfilesFAST
/TrippleProfilesMeerKAT
/__pycache__

# Images #
*.eps
*.png

# Archives #
*.zip
*.gz

# mac OS files #
.DS_Store
.ipynb*/

# VSCode folder
/.vscode/
